{{ define "main" }}
<main>
    <div class="imagem-fullscreen">
        <img src="ccmn.jpg" alt="Ponte do Saber">
    </div>

    <div class="mensagem">
        <div class="mensagem-texto">"A criatividade é a alma da Tecnologia"</div>
    </div>
    <div class="submensagem">
        <div class="submensagem-texto">Transformar quem você é em ações é a essência da jornada no IC.</div>
    </div>

    <div class="ultimas-noticias">
        <h2>ÚLTIMAS NOTÍCIAS</h2>
        <span class="barra"></span>
        <div class="lista-noticia">
            <div class="noticia">
                <div class="imagem">
                    <img src="prof-substituto.jpg" alt="Imagem da Notícia 1">
                </div>
                <div class="texto">
                    <a target="_blank" href="https://www.dcc.ufrj.br/informacoes/noticias/464-professor-substituto-mar2024">Processo seletivo simplificado para professor substituto - setor "Programação de Computadores"</a>
                    <span>Fonte: IC</span>
                </div>
            </div>
            <div class="noticia">
                <div class="imagem">
                    <img src="edital-montoria.jpg" alt="Imagem da Notícia 1">
                </div>
                <div class="texto">
                    <a target="_blank" href="https://www.dcc.ufrj.br/informacoes/noticias/463-inscricoes-monitoria-lci-ic-edital-paealig">Inscrições Monitoria LCI-IC (Edital PAEALIG)</a>
                    <span>Fonte: IC</span>
                </div>
            </div>
            <div class="noticia">
                <div class="imagem">
                    <img src="LeonardoLafusionfoto.jpeg" alt="Imagem da Notícia 1">
                </div>
                <div class="texto">
                    <a target="_blank" href="https://www.dcc.ufrj.br/informacoes/noticias/462-premio-de-melhor-trabalho-no-lafusion-workshop-2023">Prêmio de Melhor Trabalho no Lafusion Workshop 2023</a>
                    <span>Fonte: IC</span>
                </div>
            </div>
            <div class="noticia">
                <div class="imagem">
                    <img src="capes-print.jpg" alt="Imagem da Notícia 1">
                </div>
                <div class="texto">
                    <a target="_blank" href="https://print.ufrj.br/index.php/pt/destaque/noticias/122-cronograma-de-indicacao-de-bolsistas-2023-e-2024-fiquem-ligados">Cronograma de indicação de bolsistas 2023 e 2024. Fiquem ligados!</a>
                    <span>Fonte: Print UFRJ</span>
                </div>
            </div>
        </div>
        <div class="mais-noticias">
            <a target="_blank"  href="#">
                MAIS NOTÍCIAS
            </a>
        </div>
    </div>
</main>
{{ end }}
